[submodule "backend"]
	path = backend
	url = https://github.com/semsemyonoff/cueBreaker-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/semsemyonoff/cueBreaker-frontend.git
